* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 25px;
}

nav {
  width: 300px;
  height: 100%;
  position: absolute;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
  padding: 25px;
}

main {
  padding: 25px;
}

nav.open {
  transform: translate(0, 0);
}

.blue {
  background-color: darkblue;
}

.light-blue {
  background-color: lightblue;
}

@media screen and (min-width: 600px) {
  nav {
    position: relative;
    transform: translate(0, 0);
  }

  body {
    display: flex;
    flex-flow: row nowrap;
  }

  main {
    width: auto;
    flex-grow: 1;
  }
}
